<form method="post" action="{{ path('app_energie_delete', {'idEnergie': energie.idEnergie}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ energie.idEnergie) }}">
    <button class="btn">Delete</button>
</form>
