{% extends 'base.html.twig' %}
{% block title %}Edit Energie{% endblock %}
{% block body %}
    <h1>Edit Energie</h1>
    <div class="action_btn">
        {{ include('Energie/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('Energie/_delete.html.twig') }}
    </div>
     <a href="{{ path('app_energie_index') }}">back to list</a>
{% endblock %}
