{% extends 'base.html.twig' %}
{% block title %}Edit Produit{% endblock %}
{% block body %}
    <h1>Edit Produit</h1>
    <div class="action_btn">
        {{ include('Front/Produit/_form.html.twig', {'button_label': 'Update'}) }}
        
    </div>
     <table>
        <tr>
            <td><a href="{{ path('app_produit_index') }}"style="display: inline-block; padding: 8px 16px; border: none; border-radius: 4px; transition: all 0.3s ease; text-decoration: none; color: #fff; background-color: #3498db; margin-right: 5px;">back to list</a></td>
            <td>{{ include('Front/Produit/_delete.html.twig') }}</td>
        </tr>
    </table>
{% endblock %}
