{% extends 'base1.html.twig' %}

{% block title %}Modifier Avis{% endblock %}
{% block heading %}Modifier Avis{% endblock %}

{% block body %}
    <h1>Edit Avis</h1>

    {{ include('avi_f/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_avi_f_index') }}">back to list</a>

    {{ include('avi_f/_delete_form.html.twig') }}
{% endblock %}
