{% extends 'base.html.twig' %}

{% block title %}Inappropriate Comment{% endblock %}

{% block body %}
    <h1>Inappropriate Comment</h1>
    <p>This comment contains inappropriate content and cannot be approved.</p>
    <p>Please modify it before submitting.</p>
{% endblock %}
