{# templates/evenement/pdf_template.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Liste des evenements</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        h1 {
            color: #333;
        }
        p {
            margin-bottom: 20px;
        }
        /* Add more styling as needed */
    </style>
</head>
<body>
    <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Entreprise Email</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for evenement in evenements %}
                    <tr>
                        <td>{{ evenement.id }}</td>
                        <td>{{ evenement.titreEvenement }}</td>
                        <td>{{ evenement.entreprise.email }}</td>
                        <td>{{ evenement.dateEvenementt ? evenement.dateEvenementt|date('Y-m-d') : '' }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">No records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <!-- Add more content as needed -->

    <!-- You can include more data from the 'evenement' entity as needed -->
</body>
</html>
