{% extends 'base.html.twig' %}
{% block title %}Edit Categorie{% endblock %}
{% block body %}
    <h1>Edit Categorie</h1>
    {{ include('Back/Categorie/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('Back/Categorie/_delete.html.twig', ) }}
    <table>
        <tr>
            <td><a href="{{ path('app_categorie_index') }}" style="display: inline-block; padding: 8px 16px; border: none; border-radius: 4px; transition: all 0.3s ease; text-decoration: none; color: #fff; background-color: #3498db; margin-right: 5px;">back to list</a></td>
        </tr>
    </table>
{% endblock %}
