{% extends 'Front.html.twig' %}
{% block style %}

<!DOCTYPE html>
<html>
	<head>
		<title>Page title</title>

		<style>


			body {
				background: #b3ffcc;
			}

			.container {
				margin: auto;
				width: 650px;
				height: 550px;
				position: relative;
			}

			.welcome {
				background: #f6f6f6;
				width: 650px;
				height: 415px;
				position: absolute;
				top: 25%;
				border-radius: 5px;
				box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
			}

			.pinkbox {
				position: absolute;
				top: -10%;
				left: 5%;
				background: #27A77C;
				width: 320px;
				height: 500px;
				border-radius: 5px;
				box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
				transition: all 0.5s ease-in-out;
				z-index: 2;
			}

			.nodisplay {
				display: none;
				transition: all 0.5s ease;
			}

			.leftbox,
			.rightbox {
				position: absolute;
				width: 50%;
				transition: 1s all ease;
			}

			.leftbox {
				left: -2%;
			}
			.rightbox {
				right: -2%;
			}

			h1 {
				font-family: 'Open Sans', sans-serif;
				text-align: center;
				margin-top: 95px;
				text-transform: uppercase;
				color: #f6f6f6;
				font-size: 2em;
				letter-spacing: 8px;
			}

			.title {
				font-family: 'Lora', serif;
				color: #8E9AAF;
				font-size: 1.8em;
				line-height: 1.1em;
				letter-spacing: 3px;
				text-align: center;
				font-weight: 300;
				margin-top: 20%;
			}
			.desc {
				margin-top: -8px;
			}
			.account {
				margin-top: 45%;
				font-size: 10px;
			}
			p {
				font-family: 'Open Sans', sans-serif;
				font-size: 0.7em;
				letter-spacing: 2px;
				color: #6C778B;
				text-align: center;
			}

			span {
				color: #27A77C;
			}

			.flower {
				position: absolute;
				width: 120px;
				height: 120px;
				top: 46%;
				left: 29%;
				opacity: .7;
			}

			.smaller {
				width: 90px;
				height: 100px;
				top: 48%;
				left: 38%;
				opacity: .9;
			}

			button {
				padding: 12px;
				font-family: 'Open Sans', sans-serif;
				text-transform: uppercase;
				letter-spacing: 3px;
				font-size: 11px;
				border-radius: 10px;
				margin: auto;
				outline: none;
				display: block;
			}

			.button {
				margin-top: 3%;
				background: #f6f6f6;
				color: #7DAF9C;
				border: solid 1px #27A77C;
			}

			form {
				display: flex;
				align-items: center;
				flex-direction: column;
				padding-top: 7px;
			}

			.more-padding {
				padding-top: 35px;
			}

			.more-padding input {
				padding: 12px;
			}

			.more-padding .submit {
				margin-top: 45px;
			}

			.submit {
				margin-top: 25px;
				padding: 12px;
				border-color: #7DAF9C;
			}

			input {
				background: #27A77C;
				width: 65%;
				color: #7DAF9C;
				border: none;
				border-bottom: 1px solid rgba(246, 246, 246, 0.5);
				padding: 9px;
				margin: 7px;
			}

			input::placeholder {
				color: rgba(246, 246, 246, 1);
				letter-spacing: 2px;
				font-size: 1.3em;
				font-weight: 100;
			}

			input:focus {
				color: #7DAF9C;
				outline: none;
				border-bottom: 1.2px solid rgba(39, 167, 124, 0.7);
				font-size: 1em;
				transition: 0.8s all ease;
			}

			input:focus::placeholder {
				opacity: 0;
			}

			label {
				font-family: 'Open Sans', sans-serif;
				color: #7DAF9C;
				font-size: 0 .
			}
		</style>
	</head>


	<div class="container">
		<div class="welcome">
			<div class="pinkbox">
				<div class="signup nodisplay">
					<h1>Sign in
					</h1>
					<form autocomplete="off">
						<input type="text" placeholder="username">
						<input type="email" placeholder="email">
						<input type="password" placeholder="password">
						<input type="password" placeholder="confirm password">
						<button class="button submit" onclick="loginAction()">cree un compte
						</button>
					</form>
				</div>
				<div class=" signin">
					<h1>sign in</h1>
					<form class="more-padding" autocomplete="off">
						<input type="text" placeholder="username">
						<input type="password" placeholder="password">


						<button class="button submit">login</button>
					</form>
				</div>
			</div>
			<div class="leftbox">
				<h2 class="title">
					<span>FOR GREENER</span><br>INDUSTRY</h2>
				<p class="desc">pour une meilleur<span>economie</span>
				</p>
				<img class="flower smaller" src="https://image.ibb.co/d5X6pn/1357d638624297b.jpg" alt="1357d638624297b" border="0">
				<p class="account">Vous avez un compte?</p>
				<button class="button" id="signin">se connecter</button>
			</div>
			<div class="rightbox">
				<h2 class="title">
					<span>FOR GREENER</span><br>INDUSTRY</h2>
				<p class="desc">pour une meilleur
					<span>economie</span>
				</p>
				<img class="flower" src="https://preview.ibb.co/jvu2Un/0057c1c1bab51a0.jpg"/>
				<p class="account">vous n'avez pas de compte?</p>
				<button class="button" id="signup">sign up</button>
			</div>
		</div>
	</div>
	<script>
		var signupBtn = document.getElementById('signup');
var signinBtn = document.getElementById('signin');
var pinkbox = document.querySelector('.pinkbox');
var signin = document.querySelector('.signin');
var signup = document.querySelector('.signup');

signupBtn.addEventListener('click', function () {
pinkbox.style.transform = 'translateX(80%)';
signin.classList.add('nodisplay');
signup.classList.remove('nodisplay');
});

signinBtn.addEventListener('click', function () {
pinkbox.style.transform = 'translateX(0%)';
signup.classList.add('nodisplay');
signin.classList.remove('nodisplay');
});
	</script>
</html></head></html>{% endblock%}
