{% extends 'base.html.twig' %}
{% block title %}Edit Categorie{% endblock %}
{% block body %}
    <h1>Edit Categorie</h1>
    <div class="action_btn">
        {{ include('Categorie/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('Categorie/_delete.html.twig') }}
    </div>
     <a href="{{ path('app_categorie_index') }}">back to list</a>
{% endblock %}
