{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1>Categorie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Libellet</th>
            </tr>
        </thead>
        <tbody>
        {% for C in Categories %}
            <tr>
                <td>{{C.libellet}}</td>
                <td>
                    <a href="{{ path('app_categorie_edit', {'idCategorie': C.idCategorie}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_categorie_new') }}">Create new</a>
{% endblock %}
