{% extends 'base.html.twig' %}

{% block title %}Payment Success{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Payment Successful 🎉</h1>
        <p>Your payment was successful. Thank you for your purchase!</p>
    </div>
{% endblock %}
